html {
  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: 1rem;
}

a {
  color: $color-primary;
  transition: color 0.25s ease;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;
  font-size: 48px;
  margin: -7.5px 0 45px;
  overflow: hidden;
  position: relative;

  &::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }
}

h2 {
  font-family: $font-header;
  font-size: 40px;
  margin: 60px 0 45px 45px;

  // overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    left: -45px;
    width: 30px;
    margin: 0.25em 0 0 0;

    content: "";

    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

  &::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    content: "";
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
  }
}

section {
  position: relative;
  overflow: hidden;
}



