.main {
    margin-bottom: 60px;
}

.new-films, 
.top-week {

    &-item {
        margin-bottom: 15px;
        padding-right: 7.5px;
        padding-left: 7.5px;

        

        &__image {
            width: 100%;
        }

        &__title {    
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1rem;
            font-weight: bold;

            @include text-shortener;
        }
    }

    .row {
        padding: 0 7.5px;
    }
}

.thumbnail {
    transition: all 0.5s;
    margin: 0;
    
    img {
        width: 100%;
    }
 

    &:hover {
        border-color: $color-accent;
        background-color: $color-accent;

        .new-films-item__title {
            color: $color-light;
        }
    }
}




.caption {
    text-align: center;
}


.film-news-item {

padding: 0 0 30px;

    

    .btn-details {
        float: right;
    }

    &__text {
        text-align: justify;
    }
}

.film-news-item:hover {
    .film-news__title a {
        color: $color-accent;
    }

    .thumbnail {
        border-color: $color-accent;
        background-color: $color-accent;
    }

    .btn-details {
        background-color: $color-accent;
        color: #fff;
    }
}

.btn-details {
    

    color: $color-light;
    background-color: lighten($color-accent, 13.5%);
    transition: all 0.5s;
}




